/* Google font import */

@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Crete+Round&family=Dancing+Script&family=Libre+Baskerville&family=Roboto&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*general style */

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
    font-family: 'Roboto', 'sans-serif';
}

/* Header */
header {
    background-color: lightcoral;
}

h1{
    font-family: "Oswald", "sans-serif";
}
/* main*/
main {
    background-color: lightblue;
    flex:1 0 auto;
}

/* footer */
footer {
    background-color: orange;
}